body {
    color: #fff;
}

#navbar img {
    height: 55px;
}

#navbar-items .navbar-nav {
    display: flex;
    justify-content: end;
    width: 100%;
}

#navbar-items .nav-item{
    padding: 0 0.7em;
}

hr {
    color: black;
}

#menu li a {
    font-weight: bold;
    font-size: 18px;
}

#menu li:hover {
    border-bottom: 1px solid black;
}

#navbar span {
    font-size:36px;
}

.navbar-brand {
    display: flex;
    gap: 15px;
}